@import './utils/variables';
@import './utils/_visually-hidden';
@import './base/common';
@import './base/container';
@import './components/section';
@import './components/modal';
@import './components/button';
@import './components/socials';

@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/team';
@import './layout/sevices';
@import './layout/client';
@import './layout/footer';
