.btn {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  outline: none;
  border: none;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &.btn-footer {
    position: relative;
    padding-left: 29px;
  }

  &.btn-modal-form {
    justify-content: center;
    margin: 30px auto 0;
  }

  &.btn-order {
    margin: 0 auto;
  }

  &:hover {
    cursor: pointer;
    outline: none;
  }
}
