.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--timing-fn);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 521px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

label.form-label:last-child {
  margin-bottom: 20px;
}

.form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-input:focus,
.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal_input-icon {
  transition: fill 250ms var(--timing-fn);
}

.form-input:focus + .modal_input-icon {
  fill: var(--accent-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 0 0 42px;
  transition: border 250ms var(--timing-fn);
}

.comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms var(--timing-fn);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal_input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form-policy-text::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/checkbox-policy1.svg);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-position: center;
  margin-right: 7px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background: var(--accent-color);
  border-radius: 2px;
  background-image: url(../images/svg/checkbox-policy.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: center;
}

.modal-form-policy-text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
